<div class="main_category 1">
  <div class="main_category_title">人気の商品</div>
  <p class="main_category_info"><input type="checkbox">商品名を表示する</p>
  <% @items_popular.each do |item| %>
      <div class="main_category_items">
        <a href="<%=item.siteurl%>" target="_blank">
          <%= image_tag "#{item.imageurl}" %>
          <div class="main_category_items_cover">
            <div class="main_category_items_cover_item">
              <div class="main_category_items_cover_item_name"><p><%=item.name%></p></div>
              <div class="main_category_items_cover_item_check">
                <div class="main_category_items_cover_item_check_circle">
                  <i class="far fa-clipboard not_check"></i>
                </div>
              </div>
            </div>
            <div class="main_category_items_cover_bottom"><i class="fas fa-bars"></i></div>
          </div>
        </a>
        <div class="main_category_items_detail">
          <%= "¥#{item.price.to_s(:delimited)}" %>
        </div>
      </div>
  <% end %>
</div>