<div class="head_right_top_logo_hover_info">
  <%= link_to("#") do %>
    <%= content_tag(:i, '', class: 'fas fa-info-circle') %>
    <div class="head_right_top_logo_hover_info_word">
      <p>サイト新規開設についてのお知らせ</p>
    </div>
  <% end %>
</div>
