<div class="head_right_top_logo_hover_goods">
  <%= link_to("#") do %>
    <%= content_tag(:i, '', class: 'fas fa-clipboard-list') %>
    <div class="head_right_top_logo_hover_goods_word">
      <p>カイリーアービング専用オリジナルシューズオリジナルシューズ</p>
    </div>
  <% end %>
</div>
<div class="head_right_top_logo_hover_goods">
  <%= link_to("#") do %>
    <%= content_tag(:i, '', class: 'fa fa-ellipsis-h') %>
    <div class="head_right_top_logo_hover_goods_word">
      <p>その他１０件</p>
    </div>
  <% end %>
</div>