<div class="main_top_player" name="nba_map1">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map2">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map3">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map4">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map5">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map6">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map7">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map8">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map9">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map10">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map11">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map12">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map13">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map14">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map15">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map16">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map17">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map18">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map19">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map20">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map21">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map22">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map23">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map24">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map25">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map26">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map27">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map28">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map29">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>
<div class="main_top_player" name="nba_map30">
  <div class="main_top_player_left">
  </div>
  <div class="main_top_player_right">
  </div>
</div>