<div class="main_category_items searchs">
  <a href="#" target="_blank">
    <%= image_tag "http://i.gzn.jp/img/2018/01/15/google-gorilla-ban/00.jpg" %>
    <div class="main_category_items_cover">
      <div class="main_category_items_cover_item">
        <div class="main_category_items_cover_item_name"><p>カイリーアービングシューズ</p></div>
        <div class="main_category_items_cover_item_check">
          <div class="main_category_items_cover_item_check_circle">
            <i class="fas fa-clipboard-check yet_check"></i>
          </div>
        </div>
      </div>
      <div class="main_category_items_cover_bottom"><i class="fas fa-bars"></i></div>
    </div>
  </a>
  <div class="main_category_items_detail">
    <%= "¥2,300" %>
  </div>
</div>