<div class="contents">
  <div class="head">
    <div class="head_left">
      <div class="head_left_top">
        <%=image_tag "favicon.ico"%>
        <p>Rich NBA</p>
      </div>
      <div class="head_left_bottom">
        <p>賢くnbaグッズを探そう</p>
      </div>
    </div>
  </div>
  <div class="main">
  </div>
  <div class="footer">
  </div>
</div>