<div class="contents">
  <%= render partial: "index_header" %>
  <div class="main">
    <% Team.all.each do |team| %>
        <%= image_tag "#{team.image.url}" %>
    <% end %>
  </div>
  <div class="footer">
  </div>
</div>