<div class="contents">
  <%= render partial: "index_header" %>
  <div class="main">
    <div class="main_top">
      <%= render partial: "index_main_team" %>
    </div>
  </div>
  <div class="footer">
    <div class="animation4"></div>
  </div>
</div>