<div class="contents">
  <%= render partial: "index_header" %>
  <div class="main">
    <div class="main_top">
      <%= render partial: "index_main_team" %>
    </div>
  </div>
  <div class="footer">
  </div>
  
</div>
<script>
var swiper = new Swiper('.swiper-container', {
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  loop: true,
  // autoplay: {
  //   delay: 3000,
  //   disableOnInteraction: true
  // },
  pagination: {
      el: '.swiper-pagination',
      type: 'bullets',
      clickable: true,
    },
});
</script>

<%# プレイヤー画像表示時の商品自動スクロール %>
<script type="text/javascript">
window.onload = function () {
    autoScroll();
}
var $scrollX = 0;
function autoScroll() {
    var $sampleBox = document.getElementById( "main_top_right_team_player_right_item" );
    $sampleBox.scrollLeft = ++$scrollX;
    if( $scrollX < $sampleBox.scrollWidth - $sampleBox.clientWidth ){
        setTimeout( "autoScroll()", 20 );
    }else{
        $scrollX = 0;
        $sampleBox.scrollLeft = 0;
        setTimeout( "autoScroll()", 20 );
    }
}
</script>
