$button-bg:#ff0081;
$button-text-color: #fff;
$baby-blue: #f8faff;
@keyframes rotate_anime {
  0% {
      transform:rotate(0deg);/* アニメーションの進みが0%の時の状態 */
  }
  100% {
      transform:rotate(360deg);/* アニメーションの進みが100%の時の状態 */
  }
}
@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
.head{
  height:100px;
  padding: 0 10%;
  border-bottom:1px solid silver;
  &_left{
    width:20%;
    height:100%;
    float: left;
    &_top{
      overflow: auto;
      padding-top: 15px;
      img{
        width:50px;
        border-radius: 20px;
        float: left;
      }
      p{
        width:calc(100% - 50px);
        height:50px;
        float: left;
        color: #FF8C00;
        background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    &_bottom{
      p{
        padding-left:60px;
        font-size: 14px;
        color:#999999;
        &:hover{
          opacity: 0.6;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  &_center{
    width:50%;
    height:100%;
    float:left;
    &_top{
      input[type=search] {
        margin: 20px 0 5px 15px;
        padding: 10px;
        width: 85%;
        height: 45px;
        font-size: 100%;
        box-sizing: border-box;
        border-radius: 5px 0 0 5px;
        border: 1px solid #ccc;
        border-right: none;
      }
      .search_button {
        width: 10%;
        height: 45px;
        margin: 20px 0 0 -5px;
        vertical-align: top;
        border: none;
        border-radius: 0 5px 5px 0;
        background: #737373;
        outline:0;
        cursor: pointer;
        &:hover{
          opacity: 0.9;
        }
        i{
          color: #FDBD19;
        }
      }
    }
    &_bottom{
      margin-left: 15px;
      color:#E9E9E9;
      span:first-child{
        margin-right:5px;
      }
      span:nth-child(n+2){
        margin:0 5px;
      }
      a{
        display: contents;
        font-size: 12px;
        color:gray;
        text-decoration: none;
        &:hover{
          color:#FDBD19;
          text-decoration: underline;
        }
      }
    }
  }
  &_right{
    width:30%;
    height:100%;
    float:left;
    &_top{
      overflow: auto;
      &_logo{
        margin-top:10px;
        padding:10px 6% 10px;
        float: left;
        &:hover{
          border:1px solid #FDBD19;
          .head_right_top_logo_hover{
            visibility: visible;
          }
          i{
            color:#FDBD19;
            .new_comment{animation: rotate_anime 1s;}
            p{text-decoration: underline;}
            .info-icon{color:#999999;}
          }
        }
        i{
          text-align: center;
          color:#999999;
          .new_comment{
            margin:0;
            color:#FDBD19;
            position:absolute;
            font-size:large;
            // visibility: hidden;
          }
          p{
            margin-top: 5px;
            font-size: 12px;
          }
        }
        &_hover{
          overflow: auto;
          border:1px solid #FDBD19;
          box-sizing: border-box;
          margin-top:10px;
          position: absolute;
          visibility: hidden;
          &_info,&_goods{
            width: 216px;
            height:40px;
            background-color: white;
            border-bottom: 1px solid silver;
            &:last-child{
              border-bottom: none;
            }
            &:hover{
              background-color: #E9E9E9;
              p{
                text-decoration: underline;
              }
            }
            i{
              width:20%;
              margin-top:12.5px;
              float:left;
            }
            &_word{
              width:calc(100% - 20%);
              height:100%;
              float: left;
              display: flex;
              justify-content: center;
              align-items: center;
              border-left:1px solid #737373;
              box-sizing: border-box;
              p{
                width:100%;
                overflow:visible;
                color:gray;
                font-size: 12px;
                padding-left: 10px;
              }
            }
          }
          &_log{
            overflow: auto;
            width:190px;
            border-bottom:1px solid silver;
            box-sizing: border-box;
            background-color: white;
            &:last-child{
              border:none;
            }
            input{
              width:160px;
              height:40px;
              margin:15px 15px 0;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              font-size: inherit;
            }
            a{
              font-size: small;
              margin: 0 15px 15px;
              display: inline-block;
              color:#FDBD19;
            }
            .log-button{
              width:80%;
              height:40px;
              font-size: 1em;
              margin: 15px;
              background-color: #ff0081;
              color: #fff;
              border-radius: 4px;
              border: none;
              cursor: pointer;
              position: relative;
              transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
              z-index: 100;
              text-decoration: none;
              &:focus {
                outline: 0;
              }
              
              &:before, &:after{
                position: absolute;
                content: '';
                display: block;
                width: 140%;
                height: 100%;
                left: -20%;
                z-index: -1000;
                transition: all ease-in-out 0.5s;
                background-repeat: no-repeat;
              }
              
              &:before{
                display: none;
                top: -75%;
                background-image:  
                  radial-gradient(circle, $button-bg 20%, transparent 20%),
                radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
                radial-gradient(circle, $button-bg 20%, transparent 20%), 
                radial-gradient(circle, $button-bg 20%, transparent 20%),
                radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
                radial-gradient(circle, $button-bg 20%, transparent 20%),
                radial-gradient(circle, $button-bg 20%, transparent 20%),
                radial-gradient(circle, $button-bg 20%, transparent 20%),
                radial-gradient(circle, $button-bg 20%, transparent 20%);
              background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
              background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
              }
              
              &:after{
                display: none;
                bottom: -75%;
                background-image:  
                radial-gradient(circle, $button-bg 20%, transparent 20%), 
                radial-gradient(circle, $button-bg 20%, transparent 20%),
                radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
                radial-gradient(circle, $button-bg 20%, transparent 20%),
                radial-gradient(circle, $button-bg 20%, transparent 20%),
                radial-gradient(circle, $button-bg 20%, transparent 20%),
                radial-gradient(circle, $button-bg 20%, transparent 20%);
              background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
              background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
              }
             
              &:active{
                transform: scale(0.9);
                background-color: darken($button-bg, 5%);
                box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
              }
              
              &.animate{
                &:before{
                  display: block;
                  animation: topBubbles ease-in-out 0.75s forwards;
                }
                &:after{
                  display: block;
                  animation: bottomBubbles ease-in-out 0.75s forwards;
                }
              }
            }
          }
        }
      }
    }
  }
}

.main{
  overflow: auto;;
  padding:2% 5% 0;
  background-color: #F2F2F2;
  &_top{
    height:550px;
    width:90vw;
    border-bottom:1px solid #E9E9E9;
    box-sizing: border-box;
    &_left,&_right{
      height:100%;
      width:15%;
      float: left;
      &_team{
        &:hover{
          li{background-color:#FDBD19;}
          .main_top_right_team_player{visibility: visible;}
          .main_top_left_team_player{visibility: visible;}
        }
        li{
          width:100%;
          height:calc(550px / 16);
          border-bottom:1px solid #E9E9E9;
          box-sizing: border-box;
          background-color: white;
          img{
            width:calc(550px / 16);
            float: left;
          }
          .rank{
            width:20px;
            float: left;
          }
          p{
            color: black;
            width:calc(100% - (550px / 16));
            height: 100%;
            float: left;
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
          #rank{
            width:calc(100% - (550px / 16) - 20px);
          }
        }
        &_player{
          width: 63%;
          height: 550px;
          position: absolute;
          left: 18.5%;
          top: calc(100px + 2vw);
          border: 1px solid #FDBD19;
          box-sizing: border-box;
          background-color: rgba(0, 0, 0, 0.5);
          visibility: hidden;
          &_left{
            float: left;
            width:32%;
            height:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.7);
            &_center{
              width:90%;
              height:88%;
              overflow: scroll;
              &_star{
                height: 15%;
                width:100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &:last-child{
                  border: none;  
                }
                @mixin star_player($font-color:#333,$background:#f0e800,$font-shadow:rgb(255, 255, 255)){
                  font:bold 30px/1.6 Arial, Helvetica, sans-serif;
                  text-align:center;
                  color:$font-color;
                  background:$background;
                  width:85%;
                  -moz-transform: rotate(-3deg) skew(-3deg);
                  -o-transform: rotate(-3deg) skew(-3deg);
                  -ms-transform: rotate(-3deg) skew(-3deg);
                  transform: rotate(-3deg) skew(-3deg);
                  text-shadow:1px 1px 0 $font-shadow;
                  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.6),
                              30px 0 0 0 $background,
                              -30px 0 0 0 $background;
                }
                h3[id^="Hawks"] { @include star_player(white,#e03a3e,rgb(0,0,0)); 
                &:hover{background: url(ATL.svg) center center/100% no-repeat;}}
                h3[id^="Celtics"] { @include star_player(white,#008348,rgb(0,0,0)); 
                &:hover{background: url(BOS.svg) center center/100% no-repeat;}}
                h3[id^="Nets"] { @include star_player(white,black,rgb(0,0,0)); 
                &:hover{background: url(BKN.svg) center center/100% no-repeat;}}
                h3[id^="Hornets"] { @include star_player(white,#00788C,rgb(29,17,96)); 
                &:hover{background: url(CHA.svg) center center/100% no-repeat;}}
                h3[id^="Bulls"] { @include star_player(white,#ce1141,rgb(0,0,0)); 
                &:hover{background: url(CHI.svg) center center/100% no-repeat;}}
                h3[id^="Cavaliers"] { @include star_player(white,#ffb81c,rgb(0,0,0));
                &:hover{background: url(CLE.svg) center center/100% no-repeat;}}
                h3[id^="Mavericks"] { @include star_player(white,#007dc5,rgb(0,0,0));
                &:hover{background: url(DAL.svg) center center/100% no-repeat;}}
                h3[id^="Nuggets"] { @include star_player(#fec524,#0e2240,rgb(0,0,0));
                &:hover{background: url(DEN.svg) center center/100% no-repeat;}}
                h3[id^="Pistons"] { @include star_player(white,#c8102e,rgb(0,0,0));
                &:hover{background: url(DET.svg) center center/100% no-repeat;}} 
                h3[id^="Warriors"] { @include star_player(#006bb6,#fdb927,rgb(255,255,255));
                &:hover{background: url(GSW.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Rockets"] { @include star_player(#ce1141,white,rgb(0,0,0));
                &:hover{background: url(HOU.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Pacers"] { @include star_player(#002d62,#fdbb30,rgb(255,255,255));
                &:hover{background: url(IND.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Clippers"] { @include star_player(black,white,rgb(200,16,46));
                &:hover{background: url(LAC.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Lakers"] { @include star_player(#552583,#fdb927,rgb(0,0,0));
                &:hover{background: url(LAL.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Grizzlies"] { @include star_player(#12173f,#5d76a9,rgb(255,255,255));
                &:hover{background: url(MEM.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Heat"] { @include star_player(black,#98002e,rgb(255,255,255));
                &:hover{background: url(MIA.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Bucks"] { @include star_player(white,#00471b,rgb(0,0,0));
                &:hover{background: url(MIL.svg) center center/100% no-repeat;}}
                h3[id^="Timberwolves"] { @include star_player(white,#236192,rgb(0,0,0));
                &:hover{background: url(MIN.svg) center center/100% no-repeat;}}
                h3[id^="Pelicans"] { @include star_player(white,#002b5c,rgb(0,0,0));
                &:hover{background: url(NOP.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Knicks"] { @include star_player(#f58426,#006bb6,rgb(255,255,255));
                &:hover{background: url(NYK.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Thunder"] { @include star_player(white,#f05133,rgb(0,45,98));
                &:hover{background: url(OKC.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Magic"] { @include star_player(#0077c0,silver,rgb(255,255,255));
                &:hover{background: url(ORL.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="76ers"] { @include star_player(white,#006bb6,rgb(237,23,76));
                &:hover{background: url(PHI.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Suns"] { @include star_player(#e56020,#000000,rgb(255,255,255));
                &:hover{background: url(PHX.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Blazers"] { @include star_player(black,white,rgb(224,58,62));
                &:hover{background: url(POR.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Kings"] { @include star_player(white,#5b2b82,rgb(0,0,0));
                &:hover{background: url(SAC.svg) center center/100% no-repeat;}}
                h3[id^="Spurs"] { @include star_player(black,white,rgb(196,206,212));
                &:hover{background: url(SAS.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Raptors"] { @include star_player(white,black,rgb(216,17,65));
                &:hover{background: url(TOR.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Jazz"] { @include star_player(#002b5c,#f9a01b,rgb(255,255,255));
                &:hover{background: url(UTA.svg) center center/100% no-repeat;
                        color:white;text-shadow:1px 1px 0 rgb(0,0,0);}}
                h3[id^="Wizards"] { @include star_player(white,#e31837,rgb(0,0,0)); 
                &:hover{background: url(WAS.svg) center center/100% no-repeat;}}
                h3:hover{
                  cursor: pointer;
                }
              }
            }
          }
          &_right{
            float: left;
            width:68%;
            height:100%;
          }
        }
      }
    }
    &_center{
      width:70%;
      float: left;
      height:100%;
    }
  }
  &_category{
    overflow: auto;
    margin-top: 50px;
    &_title{
      font-size: 28px;
      color: #f9a01b;
      letter-spacing: 0;
      font-weight: 800;
      line-height: 28px;
      margin-bottom: 16px;
    }
    &_items{
      float: left;
      width:17%;
      background-color: white;
      border-radius: 20px;
      margin: 0 3% 2% 0;
      border: 1px solid #f9a01b;
      box-sizing: border-box;
      overflow: auto;
      img{
        width:220px;
        height:275px;
        display: block;
        &:hover{opacity: 0.8;}
      }
      &_detail{
        font-family: "Yu Mincho", "YuMincho", serif;
        width: 100%;
        height:40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        img{
          width:25px;
          height:25px;
        }
      }
    }
  }
}
.main_top_right_team_player_right_slider{
  overflow: auto;
  margin: 5%;
  margin-bottom: 2%;
  img{
    height:314px;
    width:100%;
  }
  iframe{
    // height:100%;
    width:100%;
  }
  #video_cover{
    position: absolute;
    top:0;
    height: 100%;
    width:100%;
    display: none;
  }
  .swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  margin-top: -16px;
  // background-image: none !important;
}
}
.main_top_right_team_player_right_item{
  margin: 0 5%;
  height: 29%;
  overflow: hidden;
  [id^=main_top_right_team_player_right_item]{
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
    li{
      height:100%;
      width:160px;
      display: inline-block;
      border: none;
    }
  }
}

// #sample02{
//   display: none;
// }
// [id^=teamvideo_]{
//   display: none;
// }